.left-panel {
  display: flex;
  flex-direction: column;
  width: 250px;
  background: #040b14;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  transition: all 5s;
}

@media screen and (max-width: 1080px) {
  .left-panel {
    display: none;
  }
}
